@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    color: #ffffff;
    background-color: #484846;
    padding: 10px 0;
}

h2 {
    font-weight: 100;
    text-align: center;
}

h1 {
    padding: 50px 0 5px 0;
    font-weight: 100;
    text-align: center;
}

.parent {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form-main {
    display: flex;
    flex-direction: column;
}

.form-align {
    padding: 10px 0;
}

.rinput {
    vertical-align: middle;
}

.rlabel {
    vertical-align:top;
}

.button {
    text-align: center;
    padding: 50px 0;
}

button {
    padding: 20px 50px;
    background-color: #297E96;
    color: #ffffff;
    border: 2px solid #297E96;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width:767px) {
    button {
        font-size: 1rem;
        padding: 5px 20px;
    }

    h1 {
        font-size: 1.5rem;
        padding: 50px 10px 5px 0px;
    }
}